<h2 class="text-center">This is a sample application</h2>
<div class="container">
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="item" class="form-control-lg" placeholder="Enter Data">
        <div class="input-group-append">
            <button (click)="addData()" class="btn btn-outline-secondary" type="button"
                id="button-addon2">{{buttonName}}
            </button>
        </div>
    </div>
    <ul>
        <li *ngFor="let d of list; let i=index; ">
            {{d}}
            <button (click)="updateData(i)" class="btn btn-outline-secondary" type="button"
                id="button-addon2">Update</button>
            <button (click)="deleteData(i)" class="btn btn-outline-secondary" type="button"
                id="button-addon2">Delete</button>
        </li>
    </ul>
</div>